.obesityForm-container{
    border: 3px solid black;
    display: flex;
    justify-content: center;background-image: url('../../public/images/v870-tang-37.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.obes_error_msg{
    font-size: small;
    color: red;
}