/* Navebar styles */
.navebar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  box-shadow: inset 0 0 5px #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #62c2c4;
  color: #fff;
}

.navebar ul{
  display: flex;
  flex-direction: row;
}

.navebar ul li{
  list-style: none;
  display: block;
  padding: 5px 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.navebar a{
  text-decoration: none;
  width: 100%;
  color: #fff;
  font-weight: bold;
}

.navebar p{
  padding: 5px 10px;
  font-weight: bold;
}

li:hover{
  cursor: pointer;
}

.contact-icon, .login-icon{
  border-left: 2px solid #fff;
}

/*sub-main-1 content styles */
#main-container{
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 150px;
}

#sub-container-1{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 1.3em;
  align-items: center;
  gap: 50px;
}

#sub-nest-1-1,
#sub-nest-1-2 {
  width: 50%;
  border-radius: 20px;
}

#sub-nest-1-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid lemonchiffon
}

#review{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#review div h5{
  font-size: medium;
}

#review div p{
  font-size: 13px;
  color: #6b6b6b;
  font-weight: bold;
  margin-top: 5px;
}

#sub-nest-1-1 p{
  font-size: medium;
}

#sub-nest-1-1 button{
  font-size: 20px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background-color: #0079ff;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 5px #0079ff;
  ;
}

#sub-nest-1-1 button:hover{
  cursor: pointer;
  background-color: blue;
}

#ratting{
  display: flex;
  flex-direction: row;
}

#ratting p span{
  font-size: 12px;
  color: #464646;
  padding: 5px;
}

.spn1, .spn2{
  margin-left: 5px;
  border-left: 1.3px solid #464646;
}

#stars{
  display: flex;
  flex-direction: row;
}

#sub-nest-1-2 {
  background-image: url('../public/images/240_F_188911500_zd7XLb3b7UAt2pK6LSVLQKvMMSl5PPiE.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px #fff;
}

/* sub-main-2 */

#sub-nest-2-1,
#sub-nest-2-2 {
  width: 50%;
  border-radius: 20px;
}

#sub-container-2{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 1.3em;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

#sub-nest-2-1 {
  background-image: url('../public/images/pils-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px #fff;
}

#sub-nest-2-2 p{
  padding: 0 20px;
  font-size: medium;
}

#sub-nest-2-2 h1{
  padding: 20px;
}

/* sub-main-3 */
#sub-nest-3-1, 
#sub-nest-3-2{
  width: 50%;
  border-radius: 20px;
}

#sub-nest-3-1 {
  background-image: url('../public/images/teddy-pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px #fff;
}

#sub-container-3{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 1.3em;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

#sub-nest-3-2 p{
  font-size: medium;
  margin-top: 20px;
}

#sub-nest-3-2{
  margin: 20px 0px;
}

/* sub-main-4 */
#sub-container-4{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px;
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #62c2c4;
  text-align: center;
  color: #fff;
}

#sub-nest{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

