*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black;  */
}

body{ 
    margin: 0;
    padding: 0;
    background-image: url('../public/images/v870-tang-37.jpg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents image repetition */
    width: 100%;
    height: 100%; /* Set the height to 100% of the viewport height */
    font-family: Arial, sans-serif; /* Choose a suitable font */
}

#root{
    width: 100%;
    padding: 0 50px;
}