#scheduleListContainer{
    width: 100%;
    background-image: url('../../public/images/miror-v870-tang-37.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 48px;
}

.small-table{
    height: 100vh;
}

.large-table{
    height: 100%;
}

.list-items, #title{
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
}


.list-items {
    transition: transform 0.3s ease-in-out; /* Add a transition for a smooth effect */
    box-shadow: 0 0 5px #000;
}
  
.list-items:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #000;
}

#title p{
    padding: 5px;
    font-weight: bold;
    color: #fff;
}

#title{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    font-size: 1.1em;
    border: 1px solid #000;
}

#scheduleListContainer ul li button{
    display: flex;
    margin: 0 5px;
    padding: 5px;
    align-items: center;
    background-color: transparent;
}

.toggle-btn{
    color: #000;
    font-size: 1.3em;
    border-style: none;
}

.delete-btn{
    color: red;
    border: 1.5px solid red;
    border-radius: 5px;
}

.delete-btn:hover{ 
    box-shadow:  0 0 5px red;
}

.hint{
    display: flex;
}

.time, .time-head{
    width: 90px;
}

.days, .days-head{
    width: 40px;
}

.hint-head, #hint-left-div{
    width: 400px;
}
#hint-left-div{
    padding: 5px;
    overflow: auto;
}

#hint-right-div{
    display: flex;
    flex-direction: row;
}

#scheduleListContainer .userDetials{
    align-items: flex-start;
}

.custom-list{
    width: 80%;
}