#scheduleListContainer{
    width: 100%;
    background-image: url('../../public/images/v870-tang-37.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

#scheduleListContainer table{
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

#scheduleListContainer table tr{
    border: 1px solid;
    padding: 5px;
    background-color: #fff;
}

#scheduleListContainer table tr td {
    text-align: center;
    padding: 5px;
}

#scheduleListContainer table tr th {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#scheduleListContainer table tr td button{
    margin: 0 10px;
    background-color: transparent;
}

.hint{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hint-left-div{
    margin: 0 auto;
    min-width: 100px;
    max-width: 500px;
    overflow: auto;
}

.toggle-btn{
    font-size: 1.3em;
    display: flex;
    color: black;
}

.time, .days{
    width: 85px;
}

.delete-btn{
    border: 1.5px solid #ff0000;
    color: red;
    padding: 5px;
}

#hint-right-div{
    display: flex;
    flex-direction: row;
    align-items: center
}

#title{
    background-color: rgba(0, 0 ,0 ,0.5);
}