.userDetialsContainer {
    display: flex;
    width: 80%;
}

.userDetials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: large;
    padding: 20px;
}

#logout{
    padding: 7px;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    color: red;
    border: 2px solid red;
    background-color: #fff;
}